.container {
  width: 100%;
  padding: 14px;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  .thumbnail {
    margin-bottom: 10px;
  }

  .myInfo {
    display: flex;

    .name {
      font-size: 15px;
      font-weight: 600;
      color: #333;
      margin-right: 5px;
    }

    .seat {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      opacity: 0.5;
      font-size: 12px;
    }
  }
}

.profileBody {
  padding: 10px 5px;
  text-align: center;

  .section:first-child {
    margin-bottom: 10px;
  }

  .title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .tagList {
    display: flex;
    justify-content: center;
    gap: 5px;
    opacity: 0.85;
  }
}
