@import '@/styles/variables';

.interviewLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 5px;
  height: 50px;

  & > * {
    flex: 1;
    height: 100%;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: $secondary;
}

.timer {
  background-color: white;
  border-radius: 20px;
  padding: 8px 15px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: $secondary;
  border-top-right-radius: 25px;
}
