@use '@/styles/variables' as *;

.interviewLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-top: 5px;
  height: 50px;

  & > * {
    flex: 1;
    height: 100%;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: $secondary;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: $secondary;
  border-top-right-radius: 25px;
}
