@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px 20px;
}

.questionHeader {
  margin-bottom: 20px;
  position: relative;

  h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
}

.resetButton {
  position: absolute;
  margin-right: 20px;
  right: 0;
  top: 0;

  &:disabled {
    opacity: 0.5;
  }
}

.questionList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  padding-top: 10px;
  overflow-y: auto;
}

.questionCard {
  display: flex;
  align-items: center;

  border-radius: 35px;
  border-bottom-right-radius: 0;
  min-height: 70px;
  padding: 10px 25px;
  background-color: #fff;

  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.selected {
    background-color: #000;
    p {
      color: #fff;
    }
  }

  p {
    font-size: 14px;
    color: #333;
  }
}

.buttonWrapper {
  margin-top: 20px;
}

.completeButton {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &:disabled {
    background-color: #666;
    cursor: not-allowed;
  }
}
