@use '@/styles/variables' as *;

.profileSetupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;

  .guideText {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}
