@use '@/styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  gap: 3px;

  svg {
    stroke-width: 2.6;
  }
}

.timer {
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
}
