@use '@/styles/variables' as *;

.endingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.container {
  color: #333;
  padding: 50px 20px;
  border-radius: 30px;
  background: #fff;
  text-align: center;
  box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.6);

  h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 12px;
  }

  span {
    display: block;
    color: $red;
    font-size: 14px;
    font-weight: 600;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: 15px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 20px;
    font-size: 14px;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }

    &:hover {
      background-color: $gray-2;
    }
  }
}

.requestButton {
  font-weight: bold;
  color: #fff;
  padding: 10px 35px;
  border-radius: 30px;
  box-shadow: 2px 2px 0 $blue-2;
  background: $blue-1;
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    box-shadow: 0 0 0 $blue-1;
    transform: translate(2px, 2px);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
    border-radius: 30px;
    text-align: center;

    h3 {
      font-size: 17px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
    }
  }

  .requestButton {
    font-size: 15px;
  }
}
