@use '@/styles/variables' as *;

.awaitingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 100%;
  padding: 0 20px;
  max-width: 600px;
}

.guideBoard {
  background: #fff;
  border-radius: 30px;
  min-height: 300px;
  position: relative;
  padding: 45px 25px;
  box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.6);
}

.bulbImage {
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  margin: 0 auto;
}

.guideText {
  text-align: center;

  h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}

.reviewQuizButton {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 20px 24px;
  padding-right: 12px;
  margin-top: 20px;
  box-shadow: 3px 3px 0 $blue-4;
  background: $blue-2;
  transition: all 0.2s ease;
  color: #fff;
  cursor: pointer;

  .text {
    flex: 1;
    p {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 6px;
    }

    span {
      display: block;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &:hover {
    box-shadow: 0 0 0 $blue-1;
    transform: translate(3px, 3px);
  }
}

.trial {
  margin-top: 25px;
  text-align: center;
  color: $light-black;

  p {
    font-size: 15px;
    margin-bottom: 7px;
  }

  button {
    background: $gray-2;
    color: #555;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .guideBoard {
    padding: 45px 20px;
  }

  .guideText {
    h3 {
      font-size: 17px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
    }
  }

  .reviewQuizButton {
    padding: 14px 16px;

    .text {
      p {
        font-size: 15px;
      }
      span {
        font-size: 13px;
      }
    }
  }
}
