@use '@/styles/variables' as *;

.buttonContainer {
  button {
    display: flex;
    align-items: center;
    border: 3px solid #eee;
    background: #f8f8f8;
    padding: 10px 20px;
    width: 190px;
    border-radius: 20px;

    svg {
      width: 20px;
      height: 20px;
      stroke: $light-black;
    }

    span {
      margin-left: 10px;
      font-size: 15px;
      color: $light-black;
    }
  }

  button.active {
    background: $blue-1;
    border-color: $blue-1;

    svg {
      stroke: #fff;
    }

    span {
      color: #fff;
      font-weight: 600;
    }
  }

  button.incorrect {
    margin-top: 8px;

    &.active {
      background: #cb2e2e;
      border-color: #cb2e2e;
    }
  }
}
