$blue-1: #6dadd1;
$blue-2: #3b80b7;
$blue-3: #3a6c93;
$blue-4: #02467d;
$blue-5: #244864;
$blue-6: #9ec5db;

$red: #c01919;
$orange: #f4900e;
$yellow: #ffbe00;

$white: #fff;
$gray-1: #fff;
$gray-2: #efefef;
$gray-3: #dedede;
$gray-4: #cdcdcd;
$gray-5: #bcbcbc;
$gray-6: #ababab;

$nav-height: 60px;
