@use '@/styles/variables' as *;

.myQuizPage {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: calc(100% - 60px);
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.quizStatus {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.quizList {
  flex: 1;
}
