@use '@/styles/variables' as *;

.profileLayout {
  width: 90%;
  height: 370px;
  border-radius: 40px;
  background-color: $blue-1;
  margin: 0 auto;
  border: 10px solid $blue-2;
  box-sizing: content-box;
}

.container {
  padding: 50px 20px 20px;
}

.name {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
