.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .introContent {
    margin-bottom: 70px;

    img {
      width: 270px;
      margin: 0 auto;
    }

    .greeting {
      margin-top: 70px;
      text-align: center;
      font-weight: 600;
      color: #333;
      position: relative;
    }

    .greeting::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: #ccc;
      top: -60px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
