@use '@/styles/variables' as *;

.loginPage {
  height: 100%;
  background: $blue-1;
  text-align: center;
  padding: 50px 20px 45px;
  position: relative;
}

.container {
  height: 100%;
  border-radius: 30px;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px solid $blue-2;

  .introImage {
    width: 230px;
    min-height: 133px;
    margin-top: 30px;
  }

  .greeting {
    margin: 45px 0 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    position: relative;
    color: $light-black;
  }

  .greeting::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #dfdfdf;
    top: -45px;
    left: 50%;
    transform: translate(-50%);
  }
}

.homeButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  background: $blue-2;
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);

  svg {
    width: 18px;
    height: 18px;
    stroke: #fff;
  }

  span {
    margin-left: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}
