@use '@/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.instruction {
  display: flex;
  justify-content: center;
  height: 20px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 16px;
}

.tagList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  overflow-y: scroll;
  height: 220px;
  padding-right: 10px;
  margin-right: -10px;

  /* 스크롤바 디자인 */
  &::-webkit-scrollbar {
    right: 20px;
    width: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 4px;
  }
}
