@use '@/styles/variables' as *;

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 30px;

  img {
    width: 30px;
  }

  span {
    margin-top: 15px;
    padding: 0 5px;
    font-size: 18px;
    font-weight: 700;
  }
}
