@use '@/styles/variables' as *;

.features {
  display: flex;
  gap: 12px;

  .card {
    flex: 1;
    border-radius: 16px;
    background: #fff;
    padding: 25px 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      background: $orange;

      & * {
        color: #fff;
      }

      button {
        color: #000;
        background: #fff;
      }
    }

    .icon {
      flex: 0 0 auto;
      svg {
        margin: 0 auto 12px;
      }
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      flex: 0 0 auto;
    }

    p {
      color: $light-black;
      line-height: 1.4;
      margin-bottom: 20px;
      font-size: 14px;
      flex: 1;
    }

    button {
      background: $blue-6;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      flex: 0 0 auto;
    }
  }
}
