@use '@/styles/variables' as *;

.sliderBtns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 100%;
  z-index: 1;

  button {
    width: 100px;
    height: 45px;
    border-radius: 50px;
    background-color: $blue-1;
    color: $white;
    font-size: 0.9rem;
    font-weight: 700;
    z-index: 10;
    cursor: pointer;

    &:disabled {
      background-color: $gray-4;
    }

    &.submit {
      background-color: $orange;
    }
  }
}
