.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 85%;
  min-height: 250px;
  border-radius: 15px;
  padding: 30px 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modalHeader {
  margin: 20px 0 25px;

  img {
    width: 60px;
    margin: 0 auto;
  }
}

.modalMessage {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 600;
}
