@use '@/styles/variables' as *;

.button {
  font-size: 20px;
  font-weight: bold;
  background: $orange;
  color: #fff;
  padding: 10px 50px;
  border-radius: 30px;
  letter-spacing: 3px;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;

  &:disabled {
    opacity: 0.5;
    background-color: #aaa;
  }
}
