@use '@/styles/variables' as *;

.guideline {
  padding: 0 20px;

  & > * {
    margin: 0 auto;
  }
}

.mrwing {
  width: 220px;
  margin-bottom: -40px;
}

.textBox {
  height: 370px;
  color: #333;
  background-color: #fff;
  padding: 70px 20px;
  border-radius: 30px;
  text-align: center;

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }
}

.alert {
  display: block;
  color: $red;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
